.content-wrap-main {
  padding-left: 30px;
}

.chart-container {
  position: relative;
  
  .element {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.country-label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}